<script setup>
import { onMounted } from 'vue';
import HelloWorld from './components/HelloWorld.vue'
import Web3 from 'web3'
// import learningABI from './contracts/Learning.json'
// import KevinKaoTokenAPI from './contracts/KevinKaoToken.json';

// const web3 = new Web3(Web3.givenProvider || "ws://localhost:8545")

// web3.eth.net.getId().then(function(id) { 
//     let c = new web3.eth.Contract(
//         KevinKaoTokenAPI.abi,
//         KevinKaoTokenAPI.networks[id].address
//     );

//     c.methods.totalSupply().call().then((supply) => {
//         console.log(supply);
//     });

//     web3.eth.getAccounts().then((accounts) => {

//         c.methods.set('aaa', 'bbb').send({ from: accounts[0] }).then(function() {

//             c.methods.get('aaa').call().then((value) => {
//                 console.log(value);
//             });

//         });
//     });
// });


</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <HelloWorld msg="Vite + Vues" />
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
